.container {
    display: flex;
    max-width: 90%;
    margin: 0 auto;
    padding: 3px;
    align-content: center;
    position: relative;
    flex-wrap: wrap;
    justify-content: center;
}
.item{
    text-align: center;
    max-width: 20%;
    margin: 8px;
}
.item-image {
    min-width: 40px;
    max-width: 100%; 
    height: auto;
}
.item-icon{
    max-width: 10px;
    height: auto;
}

.button-download{
    display: inline-block;
    outline: 0;
    cursor: pointer;
    padding: 5px 16px;
    font-size: 14px;
    font-weight: 500;
    line-height: 20px;
    vertical-align: middle;
    border: 1px solid;
    border-radius: 6px;
    color: #0366d6;
    background-color: #fafbfc;
    border-color: #1b1f2326;
    box-shadow: rgba(27, 31, 35, 0.04) 0px 1px 0px 0px, rgba(255, 255, 255, 0.25) 0px 1px 0px 0px inset;
    transition: 0.2s cubic-bezier(0.3, 0, 0.5, 1);
    transition-property: color, background-color, border-color;
}

.button-download:hover {
    color: #ffffff;
    background-color: #0366d6;
    border-color: #1b1f2326;
    box-shadow: rgba(27, 31, 35, 0.1) 0px 1px 0px 0px, rgba(255, 255, 255, 0.03) 0px 1px 0px 0px inset;
    transition-duration: 0.1s;
}


@media only screen and (max-width: 600px) {
    .item{
        text-align: center;
        max-width: 70%;
        margin: 8px;
    }
}

